/* Reset básico */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.curriculo-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.left-section {
  flex: 1;
  background-color: #3e3f41;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-photo {
  width: 70%;
  height: auto;
  border-radius: 50%;
  align-self: center;
}

.contact-section, .skills-section, .languages-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.contact-section h3, .skills-section h3, .languages-section h3 {
  margin-bottom: 10px;
}
.contact-section span {
  margin-left: 15px;
}
.contact-section-p {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
}

.skills-section ul, .languages-section ul {
  list-style: none;
}

.skills-section li, .languages-section li {
  margin-bottom: 5px;
}

.presentation-section, .experience-section, .education-section {
  background: linear-gradient(180deg, #e0e0e0 0%, rgba(242, 242, 245, 0.95) 100%);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.presentation-section h1 {
  margin-bottom: 20px;
}

.experience-section h2, .education-section h2 {
  margin-bottom: 20px;
}

.experience-section li, .education-section li {
  margin-bottom: 15px;
  margin-left: 20px;
}

.experience-section h3, .education-section h3 {
  font-size: 1.1rem;
  color: #2c3e50;
}

.contact-section p:hover, .skills-section li:hover, .languages-section li:hover {
  color: #3498db;
}

.presentation-section p {
  color: #555;
  font-size: 16px;
  margin-top: 10px;
}

a {
  color:  #3498db; /* Cor padrão do link */
  text-decoration: none;
}

a:visited {
  color: #3498db; /* Cor após o link ser clicado */
}

a:hover {
  text-decoration: underline; /* Opcional: efeito de hover */
}

@media (max-width: 700px) {
  .curriculo-container {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
}