* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #02010f 0%, rgba(51, 51, 54, 0.9) 100%);
}